.movie {
  min-height: 40rem;
  margin-top: 5rem;
  margin-bottom: 12rem;
  grid-column: 2/4;

  &__result {
    margin-bottom: 4rem;

    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;

    &--text {
      padding: 1rem 1.5rem;
      border-top: 0.1rem solid #ced9ea;
      border-bottom: 0.1rem solid #ced9ea;
    }

    & span {
      color: #4280bf;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
  }

  &__card {
    box-shadow: $color-shadow;
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.5s ease;

    &--img {
      width: 100%;
      height: 40rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  &__card:hover {
    .movie__btn-box {
      opacity: 1;
    }
    .movie__img {
      filter: blur(2px);
    }
  }

  &__title {
    border-radius: 0 0 0.5rem 0.5rem;
    background: $color-theme;
    color: #fff;
    padding: 0.5rem 1.6rem;
    margin-top: 0rem;
    text-align: center;
    font-size: 2.2rem;

    min-height: 6rem;
  }

  &__btn-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 0.6rem;
    text-decoration: none;
    background: $color-btn;

    font-size: 2.5rem;
    color: $color-primary;
    padding: 1.1rem 1.6rem;
  }
}
