// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 56.25em;   // 900px
$bp-medium: 50em;    // 800px;
$bp-small: 40.625em;    // 650px;
$bp-smallest: 26.25em; // 420px;

// FONT
$font-primary: 'Dosis', sans-serif;

// COLORS
$color-primary: #fff;
$color-secondary: #abb7c4;
$color-bg: #020d18;
$color-form: #233A50;
$color-phd: #8D9CAB; //color for placeholder
$color-shadow: 0 1.5rem 2rem rgba(0,0,0,0.2);
$color-btn: #DD003F;


